.id {
    -fx-background-image: url("/monsters.jpg");
    -fx-background-size: 390 260;
}

.button {
    -fx-background-position: center center;
    -fx-font-family: "Bodoni MT Poster Compressed";
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-font-size: 40;
}

.background {
    -fx-background-image: url("/blueOne.jpg");
    -fx-background-size: 1080 720;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


