.id {
    -fx-background-image: url("/monsters.jpg");
    -fx-background-size: 390 260;
}

.button {
    -fx-background-position: center center;
    -fx-font-family: "Bodoni MT Poster Compressed";
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-font-size: 40;
}


.background {
    -fx-background-image: url("/back5.jpg");
    -fx-background-size: 1080 1080;
}


